@import "variables";

:host {
  display: block;
}
.card {
  width: $card-width;
  height: $card-height;
  border: 1px solid #eee;
  border-radius: 5px;
  & > img {
    width: 100%;
    height: 100%;
  }
}
